<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">User</a></li>
      <li class="breadcrumb-item active">Forgot Password</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Login Start -->
<div class="login">
  <div class="container">
    <div class="section-header">
      <h3>Forgot Password</h3>
      {{#if done}}
      <p class="alert alert-success py-3">
        An email has been sent to your email. Please follow the instructions in the email to reset your password.
      </p>
      {{else}}
      <p>
        Enter your email and we will send you the instructions.
      </p>
      {{/if}}
    </div>

    {{#unless done}}
    <div class="row">
      <div class="col-md-8 mx-auto">
        <form action="/users/forgot" method="post" id="formForgot">
          <div class="register-form">
            <div class="row">
              <div class="col-md-12">
                <label>E-mail</label>
                <input class="form-control" type="email" placeholder="E-mail" name="email" required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
              </div>
              <div class="col-md-12">
                <button class="btn">Submit</button>
              </div>
              {{#if message}}
              <div class="col md-12">
                <div class="p-3 mt-3 alert alert-warning">
                  {{{message}}}
                </div>
              </div>
              {{/if}}
            </div>
          </div>
        </form>
      </div>
    </div>
    {{/unless}}
  </div>
</div>
<!-- Login End -->